body,
html {
  height: 100%;
}
body {
  margin: 0px;
  background-color: #444;
  font-size: 18px;
}
body,
a:link,
a:visited,
a:active {
  color: lightblue;
}
.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}
.topbar {
  height: 32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
/* .dancer {
  border: 1px solid red;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
} */

.dancer {
  width: 100px;
  height: 100px;
  background-color: red;
  /* font-size: 20px; */
  left: 0px;
  top: 0px;
  position: absolute;
  -webkit-transition-property: width height background-color font-size left top
    color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-property: width height background-color font-size left top color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
  transform: rotate(270deg);
}

.dancer2 {
  width: 50px;
  height: 50px;
  background-color: blue;
  /* color: yellow; */
  /* font-size: 18px; */
  left: 150px;
  top: 25px;
  position: absolute;
  -webkit-transition-property: width height background-color font-size left top
    color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-property: width height background-color font-size left top color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
  item
}

display
justify